@model CIDM3312Project.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-white">Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.EstimatedHours)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.EstimatedHours)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.Members)
        </dd>
    </dl>
</div>
<div class="text-white">
    <a class="text-success" asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a> |
    <a class="text-success" asp-action="Index">Back to List</a>
</div>
