@model IEnumerable<CIDM3312Project.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-white">Current Projects</h2>

<p>
    <a class="text-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th class="text-white"> 
                @Html.DisplayNameFor(model => model.EstimatedHours)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Members)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.EstimatedHours)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Members)
            </td>
            <td class="text-white">
                <a class="text-success" asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a class="text-success" asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                <a class="text-success" asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
