@model CIDM3312Project.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-white">Delete Member</h2>

<h3 class="text-white">Are you sure you want to delete this member?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt >
        <dd class="text-white">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="text-white">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class="text-white">
            @Html.DisplayFor(model => model.Major)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="text-white">
        <input type="hidden" asp-for="MemberID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a class="text-success" asp-action="Index">Back to List</a>
    </form>
</div>
